//- nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
//-       a.navbar-brand(href='/') Express js
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') eCart
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/posts') Posts
          li.nav-item
            a.nav-link(href='/product') Products

          li.nav-item
            a.nav-link(href='/contact') Contact
            li.nav-item
            a.nav-link(href='/login') Login
