extends layout.jade

block title
  title All Products
block content
  include includes/header.jade
  div.container
    //- !=messages('expressMessagesTemplate',locals)
    h2 All Products
    p A breif overview of each product present.
    include includes/footer.jade